/*------------------------------------------------------------------
[Table of contents]

1. Container / .project-taspage
2. Tasks header / .project-taspage > .header
3. Tasks project logo / .project-taspage > .header > .project > .logo
4. Search and Users list / .project-taspage > .header > .extras
5. Tasks list / .project-taspage > .body
-------------------------------------------------------------------*/
.project-taspage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%; }
  .project-taspage > .header {
    background: #fff;
    height: 59px;
    border-bottom: 1px solid #dee0e1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .project-taspage > .header > .project {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      -js-display: flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .project-taspage > .header > .project > .logo {
        width: 36px;
        height: 36px;
        background-color: #fff;
        border: solid 1px #dee0e1;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        margin-right: 15px; }
      .project-taspage > .header > .project > .name {
        font-size: 18px; }
    .project-taspage > .header > .extras {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      -js-display: flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .project-taspage > .header > .extras > .search {
        width: 318px; }
      .project-taspage > .header > .extras > .users {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -js-display: flex;
        display: flex;
        margin-left: 40px; }
        .project-taspage > .header > .extras > .users > a {
          margin-right: 10px;
          width: 26px;
          height: 26px; }
          .project-taspage > .header > .extras > .users > a.add {
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            color: #25628F;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            line-height: 14px;
            background-color: #fff;
            font-size: 19px;
            border: solid 1px #c4cbe1; }
            .project-taspage > .header > .extras > .users > a.add:hover {
              border: 1px solid #25628F; }
          .project-taspage > .header > .extras > .users > a:last-child {
            margin-right: 0; }
  .project-taspage > .body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex; }
    .project-taspage > .body > .tasboard {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      .project-taspage > .body > .tasboard .wrapper {
        padding: 30px;
        height: 100%; }
        .project-taspage > .body > .tasboard .wrapper > .task-create {
          height: 56px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          -js-display: flex;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 0 20px;
          margin-bottom: 15px; }
          .project-taspage > .body > .tasboard .wrapper > .task-create > .icon-add {
            font-size: 20px;
            position: relative; }
          .project-taspage > .body > .tasboard .wrapper > .task-create > .form-control {
            border: none;
            font-size: 14px; }
        .project-taspage > .body > .tasboard .wrapper > .task + .task {
          margin-top: 15px; }
        .project-taspage > .body > .tasboard .wrapper > .task > .header {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          -js-display: flex;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 56px;
          padding: 0 20px; }
          .project-taspage > .body > .tasboard .wrapper > .task > .header > .custom-control {
            margin-right: 15px; }
          .project-taspage > .body > .tasboard .wrapper > .task > .header > .name {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
            color: #333; }
          .project-taspage > .body > .tasboard .wrapper > .task > .header > .progress {
            margin-left: 20px; }
            .project-taspage > .body > .tasboard .wrapper > .task > .header > .progress > .progress {
              margin: 0;
              width: 100px; }
          .project-taspage > .body > .tasboard .wrapper > .task > .header > .control {
            margin-left: 20px;
            width: 40px; }
            .project-taspage > .body > .tasboard .wrapper > .task > .header > .control > .icon {
              font-size: 17px;
              line-height: 17px;
              display: inline-block;
              margin-right: 2px;
              color: #8997c3;
              position: relative;
              top: 1px; }
              .project-taspage > .body > .tasboard .wrapper > .task > .header > .control > .icon:hover {
                color: #25628F; }
            .project-taspage > .body > .tasboard .wrapper > .task > .header > .control > .amount {
              font-size: 12px;
              line-height: 12px; }
          .project-taspage > .body > .tasboard .wrapper > .task > .header > .datetime {
            margin-left: 30px;
            font-size: 12px;
            width: 70px; }
            .project-taspage > .body > .tasboard .wrapper > .task > .header > .datetime > .icon {
              font-size: 17px;
              display: inline-block;
              margin-right: 5px; }
          .project-taspage > .body > .tasboard .wrapper > .task > .header > .users {
            width: 50px;
            font-size: 10px;
            font-weight: 500;
            margin-left: 20px; }
            .project-taspage > .body > .tasboard .wrapper > .task > .header > .users > .image {
              display: inline-block;
              margin-right: 4px; }
          .project-taspage > .body > .tasboard .wrapper > .task > .header > .controls {
            margin-left: 20px; }
            .project-taspage > .body > .tasboard .wrapper > .task > .header > .controls > .btn {
              padding: 7px 0;
              color: #25628F;
              font-size: 20px; }
        .project-taspage > .body > .tasboard .wrapper > .task.completed > .header > .name {
          text-decoration: line-through; }
        .project-taspage > .body > .tasboard .wrapper > .task.opened > .body {
          border-top: 1px solid #dee0e1; }
          .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .description {
            padding: 15px 50px; }
          .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls {
            border-top: 1px solid #dee0e1;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            -js-display: flex;
            display: flex; }
            .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks {
              width: 50%;
              padding: 10px 30px 20px 30px; }
              .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks + .start-stop {
                border-left: 1px solid #dee0e1; }
              .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > .subtask-create {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                -js-display: flex;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                    -ms-flex-align: center;
                        align-items: center;
                margin-bottom: 12px; }
                .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > .subtask-create > .icon {
                  font-size: 16px;
                  font-weight: normal;
                  color: #c4cbe1;
                  margin-right: 12px;
                  margin-left: 29px; }
                .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > .subtask-create > .form-control {
                  padding: 0;
                  font-size: 12px;
                  color: #858585;
                  -webkit-box-flex: 1;
                  -webkit-flex-grow: 1;
                      -ms-flex-positive: 1;
                          flex-grow: 1;
                  border: none; }
                  .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > .subtask-create > .form-control::-webkit-input-placeholder {
                    font-size: 12px;
                    color: #858585; }
                  .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > .subtask-create > .form-control::-moz-placeholder {
                    font-size: 12px;
                    color: #858585; }
                  .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > .subtask-create > .form-control:-ms-input-placeholder {
                    font-size: 12px;
                    color: #858585; }
                  .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > .subtask-create > .form-control::placeholder {
                    font-size: 12px;
                    color: #858585; }
              .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > ul {
                list-style: none;
                padding: 0;
                margin: 0; }
                .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > ul > .subtask {
                  font-size: 12px;
                  margin-bottom: 12px;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  -js-display: flex;
                  display: flex;
                  -webkit-box-align: center;
                  -webkit-align-items: center;
                      -ms-flex-align: center;
                          align-items: center; }
                  .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > ul > .subtask:last-child {
                    margin-bottom: 0; }
                  .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > ul > .subtask > .icon {
                    font-size: 18px;
                    color: #d8dceb;
                    line-height: 12px;
                    margin-right: 15px;
                    cursor: pointer; }
                  .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > ul > .subtask > .custom-control {
                    margin: 0; }
                  .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .subtasks > ul > .subtask.completed .custom-control-description {
                    text-decoration: line-through; }
            .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .start-stop {
              width: 50%;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              -js-display: flex;
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              font-size: 14px; }
              .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .subtasand-controls > .start-stop > .icon {
                font-size: 22px;
                color: #25628F;
                margin-right: 20px;
                cursor: pointer; }
          .project-taspage > .body > .tasboard .wrapper > .task.opened > .body > .comments-section {
            border-top: 1px solid #dee0e1;
            margin-bottom: 0; }

@media screen and (max-width: 990px) {
  .btn.navigation-block-toggle {
    position: static; }
  .project-taspage > .body > .navigation {
    position: fixed;
    left: -250px;
    z-index: 4;
    top: 120px;
    height: 100%; }
    .project-taspage > .body > .navigation.open {
      left: 0;
      -webkit-transition: left .2s ease;
      transition: left .2s ease; } }

@media screen and (max-width: 790px) {
  .project-taspage > .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    height: auto; }
    .project-taspage > .header > .project {
      margin-bottom: 15px; }
  .project-taspage > .body > .tasboard .card.task > .header {
    height: auto;
    padding: 15px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

@media screen and (max-width: 650px) {
  .project-taspage > .header > .extras {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .project-taspage > .header > .extras > .search {
      margin-bottom: 15px; }
    .project-taspage > .header > .extras > .users {
      margin-left: 0; } }
