.nav-body {
  background: #fff; }
  .nav-body h1, .nav-body h2, .nav-body h3, .nav-body h4, .nav-body h5, .nav-body h6 {
    margin-top: 0; }
  .nav-body .docs-image {
    margin-top: 10px; }
  .nav-body ul li {
    margin-bottom: 20px; }
    .nav-body ul li:last-child {
      margin-bottom: 0; }
